// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
}


.jumbotron {
  height: 800px;
  background-image: url('http://upload.wikimedia.org/wikipedia/commons/a/ac/Broadway_at_Fourth_St.,_Santa_Ana,_circa_1930s.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.header {
    background-color: #333333;
}

.nav {
  margin: 0;
  padding: 20px 0;
}

.nav li {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  display:inline;
  padding: 5px 10px;
}

.nav a {
    color: #fff;
}

.main {
  position: relative;
  top: 180px;
  text-align: center;
}

.main h1 {
  color: #333333;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.btn-main {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
}

.supporting .col {
  float: left;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.supporting img {
  height: 32px;
}

.supporting h2 {
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
}

.supporting p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 40px;
  padding: 0 50px;
}

.supporting a {
    background-color: white;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #333;
}


.clearfix {
  clear: both;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
}