<div class="container">
	<div class="image-grid grid_1">
		<%= image_tag "david-dog.jpg" %><%= image_tag "batmobile.jpg" %>
	</div>
	<div class="about-text">
		<h3 class="about-heading">About Me</h3>
		<p>I'm currently enrolled in the <a href="http://www.codecademy.com/labs/offline">CodeCademy Labs</a> in New York, bolstering my front-end knowledge with Ruby on Rails and AngularJS.  I love writing front-end code on my own and with a dev team.</p>
		<p>In my previous career as <a href="http://www.imdb.com/name/nm3323131/">an independent film producer</a>, I worked with and managed teams of 20 or more.  I was responsible for the schedule, budget, and day-to-day operations of multi-million dollar projects.  I love the immediacy of working with the web, and enjoy the fast-moving pace of our industry.</p>
		<p>Before moving to New York 7 years ago, I lived in Washington, DC, Chicago, and all over the world.  I lived in Moscow when the Soviet Union fell, but I'm not taking credit for that.  Although I no longer make movies, I still enjoy watching them.  My favorites are The Big Lebowski, The Life Aquatic with Steve Zissou, and Die Hard.</p>
	</div>
	<div class="image-grid grid_2">
		<%= image_tag "delorean.jpg" %><%= image_tag "filmcamera.jpg" %>
	</div>
	
<!-- 	image_alt "photo of the delorean" image_alt "film camera" image_alt('photo-of-david-with-a-dog')
image_alt('photo-of-the-batmobile') -->
</div>