<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="container">

      <div class="inner cover">
        <h1 class="cover-heading">Hi, I'm <span class="name">David</span>!</h1>
        <h2>I create unique web experiences using <span class="skills"></span></h2>
        <%= link_to "View My Work", portfolio_path, class: "btn btn-lg btn-default"%>
      </div>

    </div>

  </div>

</div>