<div class ="main">
	
	<div class = "front row">
		<div class = "container">
				<h1>Create and share Stories</h1>
				<%= link_to "Learn More", about_path, :class =>"btn" %>
		</div>
	</div>
</div>
<div class ="supporting">
	<div class = "row">
		<div class = "container">
				<h1>Relive and share your adventures</h1>
				<p>Stories automatically creates a digital journal filled with only your best photos.</p>
		</div>
	</div>
</div>
<div class ="supporting_pic">
	<div class = "row">
	</div>
</div>	
<div class ="discover">
	<div class = "row">
		<div class = "container">
				<h1>Discover Stories</h1>
				<%= link_to "Learn More", about_path, :class =>"btn" %>
		</div>
	</div>
</div>	


