// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#icon_open{
	width:24px;
}

#icon_close{
	width:24px;
	float:right;
	margin: 1em 1em 1em 0;
  cursor: pointer;
}

.menu{
	margin-bottom:-5em;
	background-color: transparent;
	text-align:left;
	padding: 1em;
}

body{
	font-family: 'Open Sans', sans-serif;
}


h1{
	font-weight:300;
	font-size: 3em;
}

.main{
	background-image:image-url("https://unsplash.imgix.net/uploads/1411724908903377d4696/2e9b0cb2?q=75&fm=jpg&s=2016c4932a7b7a1b629cb6890bff9977");
	background-size:150%;
	background-repeat: no-repeat;
	height:100vh;
}

.thanks{
	background-image:image-url("https://unsplash.imgix.net/photo-1414924347000-9823c338079b?q=75&fm=jpg&s=0fa6db3cdc65e50c111575043fad4b5c");
	background-size:100%;
	background-position:0% 35%;
	background-repeat: no-repeat;
	height:100vh;
}

.front{
	color:white;
	padding-top:30vh;
	text-align:center;
}

.supporting{
	padding: 10vh 0 10vh 0;
	text-align:center;
}

.supporting p{
	font-weight:300;
	font-size: 1.5em;
}

.supporting_pic{
	background-image:image-url("https://ununsplash.imgix.net/photo-1417024321782-1375735f8987?q=75&fm=jpg&s=7af3f809a9c1b90b7fcbd71655b661bc");
	background-size:100%;
	background-position:25%, 25%;
	background-repeat: no-repeat;
	height:100vh;
}
.about{
	background-image:image-url("https://unsplash.imgix.net/uploads/1411589183965bdf6e141/5f468e98?q=75&fm=jpg&s=007333c388fb36767cbd152600bea6b8
");
	background-size:100%;
	background-position:0% 35%;
	background-repeat: no-repeat;
	height:100vh;
}

.discover{
	text-align:center;
}

.btn{
	background-color:rgba(0,0,0,0.9);
	border-radius:0;
	color:#fff;
	font-size:1.2em;
	font-weight:100;
	height:60px;
	line-height:60px;
	margin:40px 0;
	padding:0;
	transition:background-color .5s;
	width:150px;
	text-align:center;
}

.footer{
	text-align:center;
}